#additionalFuture p{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(194, 194, 194);
     

}

#loaderForFuture{
    display: none;
    justify-content: center;
    align-items: center;
   

}

#futureDetails{
    
    transform-origin: top;
    transform: scaleY(0);

}
#futureDetails.collapseFuture{
    transform: scaleY(1);

}
#errorForFuture{
    display: none;

}
#tempForFutureHead{
    text-wrap: nowrap;
    font-size: 2rem;
}