#loaderForTimezone{
    display: none;
    position: relative;
  
 
 
   
     align-items: center;
     justify-content: center;
     
    
  }
  #timeDetails{
    display: none;
 
   
    flex-wrap: wrap;
   
  }
#timeDetails div div{
   
display: flex;
 
 
 margin : 0.5rem 0; 
 text-wrap: nowrap;
 padding:1rem;
 border-radius: 5px;
 
 justify-content: center;
 
}
#timeHead span{
    font-size: 3rem;
}
#loaderForTimezone{
  display: none;
}
#errorForTimezone{
  display: none;
}
@media screen and  (max-width:760px){
  #timeHead span{
    font-size: 2rem;
}
 #timeHead
#timeDetails div div{
 padding:1.2rem; 
}

}
