#loaderForForecast{
    display: none;
    align-items: center;
    justify-content: center;
}
#searchForForecast a{
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
#forecastDetails div p{
    display: flex;
    justify-content: space-between;
}
#errorForForecast{
    display: none;
}
#forecastDetails{
    display: none;
    flex-wrap: wrap;
}