#additionalPast p{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(194, 194, 194);
     

}

#loaderForPast{
    display: none;
    justify-content: center;
    align-items: center;
   

}

#pastDetails{
    
    transform-origin: top;
    transform: scaleY(0);

}
#pastDetails.collapsePast{
    transform: scaleY(1);

}
#errorForPast{
    display: none;

}
#tempForPastHead{
    text-wrap: nowrap;
    font-size: 2rem;
}